{% extends "layout.html" %}
{% block content %}
<main class="hero-section">
    <div class="container">
        <div class="secton-content">
            <h2>Discoverer places near you.</h2>>
            <a href="#" class="btn-primary">SIGN UP</a>
            <a href="{{ url_for('about')}}" class="btn-secondary">LEARN MORE</a>
        </div>
        <div class="section-device">
            <img src="static/img/device.png">

        </div>
        <div class="clearfix"></div>
    </div>
</main>
{% endblock %}    